In [1]:
import pandas as pd 
import numpy as np 
import re

## Upload the two datastes

In [49]:
google_app = pd.read_csv("/Users/lorenzofamiglini/Desktop/googleplaystore.csv")
user_reviews = pd.read_csv("/Users/lorenzofamiglini/Desktop/googleplaystore_user_reviews.csv")
google_app.head()
user_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

## Exercise 1: Convert the app sizes to a number

In [50]:
#Changing column's name from Size to Size in Mb
google_app.rename({"Size" : "Size (Megabyte)"}, axis = "columns", inplace = True) #The column can be renamed as a function of the Mb

In [51]:
google_app.dropna(subset=["Android Ver"], inplace = True) #delete Nan from Android Ver

In [52]:
google_app["Size (Megabyte)"].str.extractall(r"(\d*\S?\d*)[k]") #Understand the composition of the values with letter "k"
google_app["Size (Megabyte)"].replace("k", value = "", regex = True, inplace = True) #Delete letter k

In [53]:
n = google_app["Size (Megabyte)"].str.extractall(r"(\d+.?\d+?$)") # extract the rows in kb
x = n.index.get_level_values(0) #save the index of the corresponding rows of the values in kb:

In [54]:
google_app["Size (Megabyte)"].str.extractall(r"(\d*\S?\d*)(M)") #Understand the composition of the values with letter "Mb"
google_app["Size (Megabyte)"].replace("M", value = "", regex = True, inplace = True)#Delete letter M from the other rows

## Exercise 3: Transform “Varies with device” into a missing value

NB: It's useful to solve point 1 being a string that creates problems for me in converting to Megabytes

In [55]:
google_app[google_app == "Varies with device"] = np.nan #I treat it as a nan value

In [56]:
google_app[google_app == "Varies with device"].count() #check if there's still "Varies with device" there

App                0
Category           0
Rating             0
Reviews            0
Size (Megabyte)    0
Installs           0
Type               0
Price              0
Content Rating     0
Genres             0
Last Updated       0
Current Ver        0
Android Ver        0
dtype: int64

## Resume exercise one to complete the conversion of kb into Mb

In [57]:
google_app["Size (Megabyte)"].str.extractall(r"([A-z])", flags = re.IGNORECASE ).count() #check if there are any letters left.

0    0
dtype: int64

In [58]:
google_app["Size (Megabyte)"] = pd.to_numeric(google_app["Size (Megabyte)"]) #convert all values to float to have the same scale with respect to MB
google_app["Size (Megabyte)"].loc[x] = (google_app["Size (Megabyte)"].loc[x]/1000) #conversion from kb to mb and divide divide per thousand
google_app.head()

,App,Category,Rating,Reviews,Size (Megabyte),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## Exercise 2: Convert the number of installs to a number

In [59]:
google_app["Installs"].replace("\+|,", value = "", regex = True, inplace = True) #first of all I remove the "+" sign and commas

In [63]:
google_app["Installs"] = pd.to_numeric(google_app["Installs"]) #convert into int64
google_app["Installs"].head(20) #verify the output

0        10000
1       500000
2      5000000
3     50000000
4       100000
5        50000
6        50000
7      1000000
8      1000000
9        10000
10     1000000
11     1000000
12    10000000
13      100000
14      100000
15        5000
16      500000
17       10000
18     5000000
19    10000000
Name: Installs, dtype: int64

## Exercise 4: Convert Current Ver and Android Ver into a dotted number (e.g. 4.0.3 or 4.2)

In [64]:
google_app["Android Ver"].head(20)

0     4.0.3 and up
1     4.0.3 and up
2     4.0.3 and up
3       4.2 and up
4       4.4 and up
5       2.3 and up
6     4.0.3 and up
7       4.2 and up
8       3.0 and up
9     4.0.3 and up
10      4.1 and up
11      4.0 and up
12      4.1 and up
13      4.4 and up
14      2.3 and up
15      4.2 and up
16      4.1 and up
17      2.3 and up
18    4.0.3 and up
19      4.1 and up
Name: Android Ver, dtype: object

In [65]:
google_app["Android Ver"].replace("[a-z]+|[A-z]+", value = "", regex = True, inplace = True) #delete the letters in such a way as to leave only the numerical part
google_app["Current Ver"].replace("[a-z]+|[A-z]+", value = "", regex = True, inplace = True) #delete the letters in such a way as to leave only the numerical part

In [66]:
google_app["Current Ver"].replace(r"(\.+$)", value = "", regex = True, inplace = True ) 
            #there are values with "." at the end of the numbers so let's remove them

In [68]:
google_app["Android Ver"].head(20) #check it
google_app["Current Ver"].head(20) #check it

0        1.0.0
1        2.0.0
2        1.2.4
3          NaN
4          1.1
5          1.0
6          1.1
7     6.1.61.1
8        2.9.2
9          2.8
10       1.0.4
11      1.0.15
12         3.8
13       1.0.4
14       1.2.3
15         NaN
16         3.1
17         1.0
18       2.2.5
19       5.5.4
Name: Current Ver, dtype: object

In [69]:
google_app.loc[56] #Let's see a random row

App                Gas Prices (Germany only)
Category                   AUTO_AND_VEHICLES
Rating                                   4.4
Reviews                                  805
Size (Megabyte)                          5.6
Installs                               50000
Type                                    Free
Price                                      0
Content Rating                      Everyone
Genres                       Auto & Vehicles
Last Updated                   July 29, 2018
Current Ver                            2.5.1
Android Ver                            4.4
Name: 56, dtype: object

## Exercise 5: Remove the duplicates
NB: I suppose that apps with the same name that have fewer reviews are less updated, so: Delete app with less reviews'number

In [70]:
google_app.drop_duplicates(inplace = True) # first of all, I remove the actual duplicates (for example the app with the same number of rewies and other same details..)

In [71]:
google_app[google_app["App"] == "Coloring book moana"] #check the indexes of this App

,App,Category,Rating,Reviews,Size (Megabyte),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3

In [72]:
google_app["Reviews"] = pd.to_numeric(google_app["Reviews"]) #they are in a string 
google_app = google_app.loc[google_app.groupby('App', as_index = False, sort = False)['Reviews']\
                   .idxmax()] #group the Apps with the most updated reviews and save the original index for subsequent operations
google_app[google_app["App"] == "Coloring book moana"] #check it after the groupby. It works because it's kept the right index

,App,Category,Rating,Reviews,Size (Megabyte),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3

NB: To get a dataframe with index in order just send these two script:

In [73]:
#google_app = google_app.reset_index() #I create an index in parallel with the original one that is ordered

In [74]:
#google_app.drop(columns = "index") #now the index is back in order

In [76]:
google_app.head()

,App,Category,Rating,Reviews,Size (Megabyte),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3
2033,Coloring book moana,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4

## Exercise 6: For each category, compute the number of apps

In [77]:
google_app.groupby("Category", as_index = False)[["App"]].count()

               Category   App
0        ART_AND_DESIGN    61
1     AUTO_AND_VEHICLES    85
2                BEAUTY    53
3   BOOKS_AND_REFERENCE   222
4              BUSINESS   420
5                COMICS    56
6         COMMUNICATION   315
7                DATING   170
8             EDUCATION   107
9         ENTERTAINMENT    87
10               EVENTS    64
11               FAMILY  1874
12              FINANCE   345
13       FOOD_AND_DRINK   112
14                 GAME   946
15   HEALTH_AND_FITNESS   288
16       HOUSE_AND_HOME    73
17   LIBRARIES_AND_DEMO    84
18            LIFESTYLE   369
19  MAPS_AND_NAVIGATION   131
20              MEDICAL   395
21   NEWS_AND_MAGAZINES   254
22            PARENTING    60
23      PERSONALIZATION   374
24          PHOTOGRAPHY   281
25         PRODUCTIVITY   374
26             SHOPPING   202
27               SOCIAL   239
28               SPORTS   325
29                TOOLS   829
30     TRAVEL_AND_LOCAL   219
31        VIDEO_PLAYERS   164
32              WEATHER    79

## Exercise 7: For each category, compute the average rating

In [78]:
google_app.groupby("Category", as_index = False)["Rating"].mean()

               Category    Rating
0        ART_AND_DESIGN  4.359322
1     AUTO_AND_VEHICLES  4.190411
2                BEAUTY  4.278571
3   BOOKS_AND_REFERENCE  4.344970
4              BUSINESS  4.098479
5                COMICS  4.181481
6         COMMUNICATION  4.121484
7                DATING  3.980451
8             EDUCATION  4.354717
9         ENTERTAINMENT  4.129885
10               EVENTS  4.435556
11               FAMILY  4.183445
12              FINANCE  4.115563
13       FOOD_AND_DRINK  4.171277
14                 GAME  4.244605
15   HEALTH_AND_FITNESS  4.243033
16       HOUSE_AND_HOME  4.140984
17   LIBRARIES_AND_DEMO  4.178125
18            LIFESTYLE  4.093355
19  MAPS_AND_NAVIGATION  4.036441
20              MEDICAL  4.165862
21   NEWS_AND_MAGAZINES  4.121569
22            PARENTING  4.300000
23      PERSONALIZATION  4.331419
24          PHOTOGRAPHY  4.155894
25         PRODUCTIVITY  4.183389
26             SHOPPING  4.230556
27               SOCIAL  4.247291
28               SPORTS  4.216154
29                TOOLS  4.040278
30     TRAVEL_AND_LOCAL  4.069519
31        VIDEO_PLAYERS  4.044966
32              WEATHER  4.243056

## Exercise 8: Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

In [81]:
app_gen = google_app[["App", "Genres"]] #I create a dataframe with only the two columns that interest me
app_gen.head(15) #display the new dataframe

,App,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design
2033,Coloring book moana,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art & Design
3,Sketch - Draw & Paint,Art & Design
4,Pixel Draw - Number Art Coloring Book,Art & Design;Creativity
5,Paper flowers instructions,Art & Design
6,Smoke Effect Photo Maker - Smoke Editor,Art & Design
7,Infinite Painter,Art & Design
8,Garden Coloring Book,Art & Design
9,Kids Paint Free - Drawing Fun,Art & Design;Creativity
10,Text on Photo - Fonteee,Art & Design
11,Name Art Photo Editor - Focus n Filters,Art & Design
12,Tattoo Name On My Photo Editor,Art & Design
13,Mandala Coloring Book,Art & Design
14,3D Color Pixel by Number - Sandbox Art Coloring,Art & Design

In [82]:
gen = app_gen 
c = gen["Genres"].str.split(";", expand = True) #splits the genres after the ";" to have a series divided into multindexes: 0 and 1

In [83]:
gen["Genres1"] = c[0] #create the first column for the first genre
gen["Genres2"] = c[1] #create the second column for the second genre
genres = gen[["Genres1", "Genres2"]] #I create the first dataframe composed of the two genres columns 
app = google_app[["App"]]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [84]:
genres.head()

           Genres1       Genres2
0     Art & Design          None
2033  Art & Design  Pretend Play
2     Art & Design          None
3     Art & Design          None
4     Art & Design    Creativity

In [85]:
app_genres = pd.merge(app, genres, left_index = True, right_index = True)\
            .melt(id_vars = ['App'], value_name = "Genres").drop(columns = "variable") #Merge apps with genres and then merge by app column
                                                                #delete the variable column that is not useful for our purpose

In [86]:
app_genres = app_genres.dropna() #delete the remaining NAN

In [87]:
app_genres.head() #the second dataframe required by the exercise

                                                 App        Genres
0     Photo Editor & Candy Camera & Grid & ScrapBook  Art & Design
1                                Coloring book moana  Art & Design
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  Art & Design
3                              Sketch - Draw & Paint  Art & Design
4              Pixel Draw - Number Art Coloring Book  Art & Design

In [88]:
app_genres.info() #check composition of the dataframe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10049 entries, 0 to 19006
Data columns (total 2 columns):
App       10049 non-null object
Genres    10049 non-null object
dtypes: object(2)
memory usage: 235.5+ KB

In [89]:
app_genres[app_genres["App"] == "Coloring book moana"] #check if everything works correctly

                      App        Genres
1     Coloring book moana  Art & Design
9658  Coloring book moana  Pretend Play

## Exercise 9: For each genre, create a new column of the original dataframe. The new columns must have boolean values (True if the app has a given genre)

In [90]:
new_google_app = pd.concat([google_app, pd.get_dummies(genres["Genres1"], dtype = "bool")], axis= 1).drop(columns = "Genres") #concatenate genres1 binaryized
new_google_app = pd.concat([new_google_app, pd.get_dummies(genres["Genres2"], dtype = "bool")], axis= 1) 
                            #concatenate genres2 binaryized
#all this done to have binarization with related values

In [91]:
new_google_app.head() #check the new dataframe and whether they are related 
new_google_app[["App", "Art & Design", "Pretend Play"]].loc[2033]

App             Coloring book moana
Art & Design                   True
Pretend Play                   True
Name: 2033, dtype: object

## Exercise 10: For each genre, compute the average rating. What is the genre with highest average?

In [92]:
google_app_3 = app_genres.merge(google_app, on = "App")
google_app_3.drop(columns = "Genres_y", inplace = True) #dropping the column that I don't need 
google_app_3.head()

,App,Genres_x,Category,Rating,Reviews,Size (Megabyte),Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0,Everyone,"January 7, 2018",1.0.0,4.0.3
1,Coloring book moana,Art & Design,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3
2,Coloring book moana,Pretend Play,FAMILY,3.9,974,14.0,500000,Free,0,Everyone,"January 15, 2018",2.0.0,4.0.3
3,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art & Design,ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,"August 1, 2018",1.2.4,4.0.3
4,Sketch - Draw & Paint,Art & Design,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0,Teen,"June 8, 2018",NaN,4.2

In [93]:
google_app_3.groupby('Genres_x', as_index = False, sort = False)[['Rating']].mean()

                   Genres_x    Rating
0              Art & Design  4.350000
1              Pretend Play  4.238235
2                Creativity  4.306250
3        Action & Adventure  4.288542
4           Auto & Vehicles  4.190411
5                    Beauty  4.278571
6         Books & Reference  4.343275
7                  Business  4.098479
8                    Comics  4.181481
9             Communication  4.121790
10                   Dating  3.980451
11                    Tools  4.040278
12                Education  4.290290
13            Music & Video  4.229032
14              Brain Games  4.358065
15            Entertainment  4.093028
16                   Events  4.435556
17                  Finance  4.115563
18             Food & Drink  4.171277
19         Health & Fitness  4.243496
20             House & Home  4.140984
21         Libraries & Demo  4.178125
22                Lifestyle  4.094040
23                Adventure  4.191026
24                   Arcade  4.277838
25                   Casual  4.141014
26                     Card  4.082609
27                   Action  4.247697
28                 Strategy  4.227368
29                   Puzzle  4.370732
30                   Sports  4.225185
31                    Music  4.219048
32                     Word  4.318182
33                   Racing  4.174757
34               Simulation  4.154500
35                    Board  4.291228
36                   Trivia  4.039286
37             Role Playing  4.272072
38              Educational  4.100000
39            Music & Audio  4.300000
40  Video Players & Editors  4.044667
41                  Medical  4.165862
42                   Social  4.247291
43                 Shopping  4.230556
44              Photography  4.155894
45           Travel & Local  4.069519
46          Personalization  4.331419
47             Productivity  4.183389
48                Parenting  4.300000
49                  Weather  4.243056
50         News & Magazines  4.121569
51        Maps & Navigation  4.036441
52                   Casino  4.286486

In [94]:
print("The average of the highest rating corresponds to the genre: "+google_app_3.groupby('Genres_x')['Rating'].mean().argmax())

The average of the highest rating corresponds to the genre: Events

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

## Exercise 11: For each app, compute the approximate income, obtain as a product of number of installs and price.

In [95]:
google_app["Price"].value_counts() #let's see the composition of values in "$"
google_app["Price"].replace(r"(\$)", value = "", regex = True, inplace = True) #delete "$"
google_app["Price"] = pd.to_numeric(google_app["Price"]) #from string to number

In [96]:
google_app["app_income"] = google_app["Price"] * google_app["Installs"] #create new column for the approximate income

In [97]:
google_app.loc[60]

App                     CityBus Lviv
Category           AUTO_AND_VEHICLES
Rating                           4.6
Reviews                          534
Size (Megabyte)                  5.7
Installs                       10000
Type                            Free
Price                              0
Content Rating              Everyone
Genres               Auto & Vehicles
Last Updated            July 8, 2018
Current Ver                    1.9.1
Android Ver                  4.0.3
app_income                         0
Name: 60, dtype: object

## Exercise 12: or each app, compute its minimum and maximum Sentiment_polarity

In [98]:
user_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [99]:
sentimentmin = user_reviews.groupby("App", sort = False, as_index = False)["Sentiment_Polarity"].min()

In [100]:
sentimentmin.head()

                                App  Sentiment_Polarity
0             10 Best Foods for You             -0.8000
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室             -0.1125
2                              11st             -1.0000
3        1800 Contacts - Lens Store             -0.3000
4   1LINE – One Line with One Touch             -0.8250

In [101]:
sentimentmax = user_reviews.groupby("App", sort = False, as_index = False)["Sentiment_Polarity"].max()

In [102]:
sentimentmax.head()

                                App  Sentiment_Polarity
0             10 Best Foods for You            1.000000
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室            0.910000
2                              11st            1.000000
3        1800 Contacts - Lens Store            0.838542
4   1LINE – One Line with One Touch            1.000000